{% extends "template.html" %}
{% block conteudo %}
<form class="formularioJogo" method="post" action="{{ url_for('editar') }}">

    <figure class="img-thumbnail col-md-4 formularioImagem">
        <img class="img-fluid" src="{{ url_for('image', nome_arquivo=capa_jogo ) }}" alt="Capa do jogo a ser editado">
        <figcaption>
            <label class="file-container">
                Mudar Capa
                <input type="file" name="arquivo" accept=".jpg">
            </label>
        </figcaption>
    </figure>


    <fieldset>
        <input type="hidden" name="id" value={{ id }}>
        {{ form.csrf_token() }}
        <div class="form-group inputBox">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
        </div>
        <div class="form-group buttons">
            {{ form.salvar(class="btn btn-primary") }}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
        </div>
    </fieldset>
</form>
{% endblock %}