{% extends "template.html" %}
{% block conteudo %}
    {% if not esta_logado %}
        <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
    {% else %}
        <a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
        <a class="btn btn-primary" href="{{ url_for('formulario_novo_jogo') }}">Adicionar Jogo</a>
    {% endif %}


    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for g in games %}
            <tr>
                <td>{{ g.nome }}</td>
                <td>{{ g.categoria }}</td>
                <td>{{ g.console }}</td>
                <td>
                    <a href="{{ url_for('editar', id=g.id) }}">Editar</a>
                    <a href="{{ url_for('deletar', id=g.id) }}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}