<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewimport" content="width=device-width, initial-scale=1">
        <title>Login | Cybergames</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Faça o login</h1>
            <form method="POST" action="{{ url_for('autenticar') }}">
                <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
                {{ form.csrf_token() }}
                <div class="form-group">
                    {{ form.nickname.label(class="form-label") }}
                    {{ form.nickname(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.senha.label(class="form-label") }}
                    {{ form.senha(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.login(class="btn btn-primary") }}
                </div>
            </form>
            <div class="buttons">
                <a class="btn btn-primary" href="{{ url_for('cadastro') }}">Cadastrar</a>
                <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
            </div>
        </div>
    </body>



</html>
