{% extends "template.html" %}
{% block conteudo %}
<form class="formularioJogo" method="post" action="{{ url_for('create') }}" enctype="multipart/form-data">

    <figure class="formularioImagem" class="img-thumbnail col-md-4">
        <img class="img-fluid" src="{{ url_for('image', nome_arquivo='capa_padrao.jpg') }}" alt="Capa padrão dos jogos">
        <figcaption>
            <label class="file-container">
                Mudar a Capa
                <input type="file" name="arquivo" accept=".jpg">
            </label>
        </figcaption>
    </figure>

    <fieldset>
       {{ form.csrf_token() }}
        <div class="form-group inputBox">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
        </div>
        <div class="buttons">
            {{ form.salvar(class="btn btn-primary") }}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
        </div>
    </fieldset>
</form>
{% endblock %}